@media screen and (max-width:20000px) {
    nav{
        display: none;
    }
}
@media screen and (max-width:414px){
    .fourt__content{
        align-items: center;
    }
    .run , .lift , .yoga{
        width: 320px;
    }
    .next , .prev{
        margin-top: 75px;
    }
    
    .fourth__btns button{
        width: 150px;
        height: 50px;
    }
    .fourth__btns{
        flex-direction: column;
        justify-content: space-between;
    }
    .fourth__btns button:nth-child(odd){
        margin: 0 0 20px 0;
    }
    .first{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .first button{
        margin: 30px auto;
    }
    .first__left{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first__left__head h1{
        text-align: center;
    }    
    .first__left__head h3{
        text-align: center;
    }
    .first__left .simple__text{
        text-align: center;
    }
    .first__right{
        width: 90vw;
    }
    .first__rcont{
        width: 0%;
    }
    .first__right__woman{
        margin: 30px auto;
        background-position: top;
        width: 100%;
        border-radius: 10px;
        background-size: 100%;
        height: 400px;
    }
    .first__right__block{
        display: none;
    }
    .header__sidebar{
        display: none;
    }
    .header__logo{
        background-size: 70%;
    }
    .header{
        padding: 0;
    }
    nav{
        position: fixed;
        z-index: 50;
        display: block;
    }
    .burger__btn{
        cursor: pointer;
        top: 30px;
        right: 10px;
        z-index: 52;
        width: 30px;
        height: 20px;
        position: relative;
        background-color: transparent;
    }
    .burger__btn span{
        content: '';
        position: absolute;
        top: 9px;
        background-color: rgb(255, 255, 255);
        height: 2px;
        width: 30px;
    }
    .burger__btn::before{
        content: '';
        position: absolute;
        top: 0;
        height: 2px;
        width: 30px;
        background-color: rgb(255, 255, 255);
    }
    .burger__btn::after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 30px;
        background-color: rgb(255, 255, 255);
        height: 2px;
    }
    .third__cards{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .third__cards__item{
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .trainer__first{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .trainer__second{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .trainer__third{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .trainer__fourth{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .footer__content{
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .footer__left{
        align-items: center;
    }
    .elem{
        margin-left: 10px;
    }
    .footer__center ul{
        margin: 20px 0;
        align-items: center;
    }
    .menu.active{
        z-index: 100;
    }
}
@media screen and (min-width:375px){

}