.form h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
}
.form input{
    margin: 20px 0 10px 0;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    height: 30px;
    padding: 5px 10px;
}