.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.first__left{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.first__left button{
    margin-top: 20px;
    border: 1px solid #F24B88;
    background-color: #F24B88;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    width: 190px;
    height: 70px;
    cursor: pointer;
    font-size: 20px;
}
.first__left__head{
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    color: #f2f2f2;
}
.first__left__head h1{
    font-weight: bold;
    width: 100%;
}
.first__left__head h3{
    width: 100%;
    font-weight: 400;
}
.first__right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.first__right__woman{
    border-radius: 20px;
    width: 305px;
    height: 440px;
    background-image: url('../../images/woman.png');
    background-repeat: no-repeat;
    background-position: center;
}
.simple__text{
    color: #ffffff36;
}
.first__right__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #332F3C;
    border-radius: 10px;
    padding: 29px 26px;
}
.first__right__block h3{
    color: #fff;
}
.first__right__block .simple__text{
    font-size: 12px;
    margin: 5px 0 ;
}