.fourth{
    background-color: #332F3C;
    padding: 60px 80px;
    margin: 100px 0;
}
.fourt__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fourth__title{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
}
.fourth__body{
    font-size: 13px;
    color: #FFF;
    text-align: center;
}
.fourth__btns{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 20px 0;
}
.fourth__btns button{
    color: #fff;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 0px;
}
.fourth__btns button:nth-child(odd){
    margin-right: 30px;
    background-color: #F24B88;
    border: 1px solid #F24B88;
}
.fourth__btns button:nth-child(even){
    border: 1px solid #1F1C26;
    background-color: #1F1C26;
}
.fourth__btns button:nth-child(even):hover{
    background-color: #F24B88;
    border: 1px solid #F24B88;
    transition: .4s ease;
}
.fourth__btns button:nth-child(odd):hover{
    background-color: #1F1C26;
    border: 1px solid #1F1C26;
    transition: .4s ease;
}